@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../images/form-bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
main{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    width: 40%;
    min-height: 85vh;
    border-radius: 30px;
    padding-bottom: 20px;
}

h1{
    background-color: #4A4A4A;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

form div{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.inputbox{
    background-color: #D3D3D3;
    border-radius: 5px;
    border: none;
    height: 30px;
}
label{
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0 5px 5px;
}

#order-btn{
    background-color: #4A4A4A;
    color: white;
    width: 60%;
    font-size: 24px;
    font-weight: 600;
    padding: 8px 0;
    border-radius: 25px;
    border: solid 2px white;
}
#order-btn:hover{
    background-color: white;
    color: #4A4A4A;
    border: solid 2px #4A4A4A;
    box-sizing: border-box;
}

#payment-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}
#payment-title{
    text-align: center;
}
#payment-methods{
    margin: 15px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 70px;
    grid-row-gap: 20px;
}
.rb-img{
    width: 80px;
}
.rb-lbl{
    border-radius: 15px;
    padding: 8px 0 5px;
    text-align: center;
    background-color: #EAEAEA;
    box-shadow: 0px 7px 5px 0px rgba(135,135,135,0.75);
    -webkit-box-shadow: 0px 7px 5px 0px rgba(135,135,135,0.75);
    -moz-box-shadow: 0px 7px 5px 0px rgba(135,135,135,0.75);
}
.radiobtn{
    display: none;
}
.radiobtn:checked+label { 
    background-color: rgba(194, 194, 194, 0.75);
    box-shadow: none;
}