@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap%27');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'Rancho', cursive;
}
body{
    scroll-behavior: smooth;
}
#landing-section{
    display: flex;
    min-height: 100vh;
}
#right-div{
    background-image: url('../images/room-bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#spray-img{
    height: 65%;
}
#left-div{
    width: 45%;
    display: flex;
    position: relative;
    flex-direction: column;
}
#landing-header{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}
#landing-header a{
    padding: 20px 0;
    color: #303030;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#landing-header a:hover{
    text-decoration: underline;
}
#landing-main{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#landing-main div {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    padding: 60px 0;
}
#half-round-decor{
    position: absolute;
    background-color:white;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    top: 20%;
    right: 0px;
    width: 75px;
    height: 60%;
    transform: translate(75px);
}
#landing-main div * {
    margin-bottom: 20px;
}
#landing-main div h1{
    font-weight: bolder;
    font-size: 70px;
    color: #AF7D77;
}
#landing-main div p{
    color: #4F4949;
    font-size: 17px;
}
#landing-main div div{
    margin-bottom: 60px;
    padding: 0 50px;
}
#landing-main div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #C6948E;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 20px;
}
#landing-main div a:hover{
    background-color: white;
    color: #C6948E;
    border: 3px solid #C6948E;
}



#mobile-section{
    min-height: 100vh;
    background-color: orange;
}

/* product-page css start */
#product-section{
    display: flex;
    min-height: 100vh;
    background-color: #4A4E51;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
}

#product-right
{
    width: 45%;
    display: flex;
    text-align: center;
    background-color: white;
    align-items: center;
    position: relative;
}

#product-right div h1{
    font-weight: bolder;
    font-size: 70px;
    color: #AF7D77;
}

#content
{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content * {
    margin-bottom: 20px;
}

#content p {
    padding: 0 20px;
    color: #4F4949;
    font-size: 17px;
}

#product-left
{
    background-image: url(../images/product-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 55%;
}

#half-round-decor-product{
    position: absolute;
    background-color: white;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    top: 20%;
    left: 0px;
    width: 75px;
    height: 60%;
    transform: translate(-75px);
}

#mobile-section
{
    display: flex;
    min-height: 100vh;
    background-color: #414D5B;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
}

#mobile-left
{
    width: 45%;
    display: flex;
    text-align: center;
    background-color: white;
    align-items: center;
    position: relative;
}

#mobile-right
{
    background-image: url(../images/mobile-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 55%;
}

#mobile-left div h1{
    font-weight: bolder;
    font-size: 70px;
    color: #AF7D77;
}

#button-up
{
    position: fixed;
    font-size: 20px;
    z-index: 3;
    left: 92%;
    top: 87%;
    background-color: #C6948E;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    padding: 13px;
}

#interested
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
    text-align: center;
    min-height: 50vh;
    background-image: url("../images/mitchell-luo-gbur-TgfCPY-unsplash-Cut.png");
}

#interested-title
{
    font-size: 36px;
}

#interested-subtitle
{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 40px;
}

#interested-button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #C6948E;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 20px;
}

#interested-button a:hover{
    background-color: white;
    color: #C6948E;
    border: 3px solid #C6948E;
}

#about-us-section{
    min-height: 100vh;
}

#about-us-section section {
    font-family: 'Roboto', sans-serif;
}
#about-us-banner{
    background-image: url('../images/spray-spraying.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-us-banner h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    border: 5px solid white;
    border-radius: 15px;
    padding: 5px 60px;
}

#vision-mission-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    justify-content: space-evenly;
    /* background-color: pink; */
    position: relative;
}

#vision-mission-container div{
    border: solid 2px black;
    width: 80%;
    padding: 10px 40px;
    border-radius: 45px;
}

#vision-mission-container div h2{
    font-size: 40px;
    margin-bottom: 10px;
}

#vision-mission-container div p{
    color: #6F6F6F;
    font-size: 20px;
    margin-bottom: 10px;
}

.line-decor{
    height: 2px;
    border: solid 1px black;
    width: 75vw;
    margin: auto;
}

#team-section{
    width: 75vw;
    margin: auto;
    padding: 40px 0;
}

#team-section h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#team-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 90px;
    grid-row-gap: 35px;
   
}

.team-member{
    display: flex;
    padding: 20px;
    border: solid 2px black;
    border-radius: 50px;
}

.team-member-name{
    font-weight: bold;
    font-size: 24px;
}
.team-member-contact{
    color: #6F6F6F;
}
.fas{
    color: black;
}

.team-member div{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}

.team-images{
    width: 100px;
}

#contact-section{
    padding: 40px 0 0;
    width: 75vw;
    margin: auto;
}

#contact-section h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.contact {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact .fas, .contact .fab{
    font-size: 70px;
    margin-right: 45px;
}