@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#landing-section{
    display: flex;
    min-height: 100vh;
}
#right-div{
    background-image: url('../images/room-bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#spray-img{
    height: 65%;
}
#left-div{
    width: 45%;
    display: flex;
    position: relative;
    flex-direction: column;
}
#landing-header{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}
#landing-header a{
    padding: 20px 0;
    color: #303030;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
#landing-header a:hover{
    text-decoration: underline;
}
#landing-main{
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#landing-main div {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    padding: 60px 0;
}
#half-round-decor{
    position: absolute;
    background-color:white;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    top: 20%;
    right: 0px;
    width: 75px;
    height: 60%;
    transform: translate(75px);
}
#landing-main div * {
    margin-bottom: 20px;
}
#landing-main div h1{
    font-weight: bolder;
    font-size: 70px;
    color: #AF7D77;
}
#landing-main div p{
    color: #4F4949;
    font-size: 17px;
}
#landing-main div div{
    margin-bottom: 60px;
    padding: 0 50px;
}
#landing-main div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #C6948E;
    padding: 10px 25px;
    border-radius: 20px;
    margin-top: 20px;
}
#landing-main div a:hover{
    background-color: white;
    color: #C6948E;
    border: 3px solid #C6948E;
}